/* 1. Background Hitam Transparan di Belakang Modal */
.modal-overlay-kustom {
   position: fixed;
	z-index: 900;
	top: 4rem;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	background: rgb(0 0 0 / 0.7);
	-webkit-overflow-scrolling: touch;
	
	/* State Default (Sembunyi) */
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.125s ease-in, visibility 0.125s ease-in;
}

/* Aktifkan kelas ini lewat JS untuk animasi muncul */
.modal-overlay-kustom.aktif {
    opacity: 1;
	visibility: visible;
}


/* 1. Box Utama Modal (Dioptimalkan penuh untuk HP) */
.modal-box-kustom {
    background-color: #ffffff;
    padding-right: 0px;
    padding-bottom: 20px;
    border-radius: 3px !important;
    width: 90%;
	/* min-width: 270px; */
	max-width: 600px;
	min-height: 32px;
    /* position: relative; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    
    /* Perubahan Penting: Mengatur margin atas otomatis agar tidak menempel ke frame browser HP */
    /* margin: 40px auto;  */
    
    transform: translateY(-20px);
    transition: transform 0.3s ease;

      /* --- TAMBAHKAN 3 BARIS INI UNTUK MENGUNCI TINGGI --- */
    
    display: flex;
    flex-direction: column;
    margin: 5em auto;
	padding: 1em
}

.modal-overlay-kustom.aktif .modal-box-kustom {
    transform: translateY(0);
}

.modal>* {
	line-height: normal;
	flex-basis: 100%;
	margin-bottom: .5em;
	max-width: 100%
}

/* 2. Header Modal (Dipastikan wajib terlihat paling atas) */
.modal-header-kustom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* 3. Judul Form */
.modal-title-kustom {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 600;
    color: #666666;
    font-family: sans-serif;
}

/* 4. Tombol Silang */
.modal-close-kustom {
    font-size: 26px;
    font-weight: bold;
    color: #aaaaaa;
    cursor: pointer;
    line-height: 1;
    transition: color 0.2s, transform 0.2s;
    margin-right: 20px;
}

.modal-close-kustom:hover {
    color: #333333;
    transform: scale(1.1);
}

/* 4. Style Spinner Loading Kustom */
.modal-loading-kustom {
    text-align: center;
    padding: 20px 0;
    color: #666;
}

.spinner-kustom {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #9bbfae;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    animation: putar-spinner 1s linear infinite;
}

@keyframes putar-spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
